body{
    /* display: flex;
justify-content: center;  */
 background-color: black;
 margin: 0%;
 /* overflow-y: hidden; */
 overflow-x: hidden;
}
.container-main{
/* display: flex; */
width: 100%;
/* justify-content: center; */
z-index: -1;
}
.banner{
    display: flex;
    width:100%;
    justify-content: center;
    transform: translateY(-4em);
}
.navbar{
    display: flex;
    width: 100%;
    height: 7em;
    background-color: #95d2e980;
    z-index: 1000;
    justify-content: center;
    position: fixed;
    transition: all 0.5s;
}
.navel{
    display: flex;
    width: 78%;
    justify-content: space-evenly;
    height: 2em;
    text-align: center;
    padding-top: 2.5em;
}

.Home, .About, .Skills, .Contact, .Achievement, .Blog{
    font-family: futura-pt;
font-weight: 400;
font-style: normal;
font-size: 18px;
letter-spacing: 1px;
text-transform: uppercase;
text-decoration: none;
line-height: 1em;
font-family: sans-serif;
cursor: pointer;
flex-shrink: 0.5;
display: inline-block;
position: relative;
}
.Name{
    color: white;
    text-transform: uppercase;
    font-family: futura-pt;
    font-weight: 800;
    font-style: normal;
    font-size: 27px;
    letter-spacing: 0.11em;
    line-height: 1.2em;
    position: relative;
}
.intro{
    width: 77em;
    height: 29em;
    transform: translate(16em,-34em);
}
.firstl{
    font-size: 8em;
    color: #1cb5ec;
    font-weight: bolder;
}
.secl{
    font-size: 8em;
    color: white;
    font-weight: bolder;
}

.scrollbook{
    display: inline-block;
    transform: translate(47em,-18em);
    padding: 1.5em 4em 1.5em 4em;
    border-radius: 1.5em;
}


.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-21em, 23em);
  }
  
  #explore{
    display: block;
    width: 200px;
    height: 52px;
    line-height: 51px;
    font-size: 19px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    cursor: pointer;
}
  
  #explore span{
    position: relative;
    z-index: 2;
  }
  
  #explore:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: whitesmoke;
    transition: all .35s;
  }
  
  #explore:hover{
    color: black;
  }
  
  /* html {
    scroll-behavior: smooth;
  } */

  #explore:hover:after{
    width: 100%;
  }
  /* .explore
  {
    scroll-behavior: [ auto | smooth ];
  }
   */
  
   .book{
    width: 100rem;
    height: 42rem;
    border: grey 2px;
    position: absolute;
    top: 70rem;
    display: flex;
    justify-content: center;
    /* background-color: #2AB7CA; */
    /* box-shadow: 13px 16px 30px -10px; */
    /* border-radius: 0 3rem 3rem 0;
    box-shadow: 1.2rem 0rem 2rem -2rem inset; */
    perspective: 350vw;
    transform-style: preserve-3d;
    backface-visibility: visible;
    /* background-image: linear-gradient(to right, rgba(0,0,0,.15) 0%, rgba(0,0,0,0) 10%); */
    /* background: rgba(0, 0, 0, 0); */

   }
   .book-container{
     /* background: no-repeat url("images/wooden1.jpg"); */
    height: 47em;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    font-family: 'Baskervville', serif;
    /* background: linear-gradient(#f7ede2, #E83F6F); */
  }

h1{
  color: white;
  font-weight: bolder;
  filter: drop-shadow(0.2rem 0.1rem 0.2rem gray);
  font-size: 5rem;
  font-family: 'Anton', sans-serif;
  position: absolute;
  top: 59rem;
}
.palat{
  transform-origin: left;
  transform : rotateY(-180deg);
  transition: 2s;
}

.page{
  width: 26rem;
  height: 42rem;
  position: absolute;
  /* padding: 2rem; */
  background-image: linear-gradient(to right, rgba(0,0,0,.15) 0%, rgba(0,0,0,0) 10%);
  background: rgba(0, 0, 0, 0);
  perspective: 350vw;
  transform-style: preserve-3d;
  backface-visibility: visible;
  background-color:#f2ede2;
  /* border-radius: 0 3rem 3rem 0; */
  box-shadow: 1.2rem 0rem 5rem -3rem inset;
    transition: transform 1s;
    background: no-repeat url(old-note2.png);
  background-size: 26rem 42rem;
  background-blend-mode: overlay;
  display: flex;
}
.shift{
  transform: translateX(43rem);
  transition: 0.8s;
}
.page::before{
  content: none;
  height: 42rem;
  width: 10rem;
  box-shadow: 1.2rem 0rem 2rem -2rem;

}
.front-page{
  background: no-repeat url(old-cover2.jpg);
  /* background-size: cover; */
  background-size: cover;
  width: 26rem;
  height: 42rem;
  position: absolute;
  perspective: 350vw;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
.endofbook{
  left: -20rem;
}
.fpage{
  width: 100%;
height: 100%;
display: flex;
}
.mps{
  position: absolute;
      width: 21rem;
    height: 14rem;
    top: 4rem;
    left: 2rem;
    border-radius: 0.7rem;
    rotate: 23deg;
}
.bookbg{
  background-color: black;
  width: 100%;
  height: 51em;
  /* height: inherit; */
  /* z-index: 1; */
  position: absolute;
  top: 63rem;
  opacity: 0.5;
}
.windows-container{
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  width: 100%;
  height: 58rem;
  justify-content: center;

}
.Windows{
  width: 65rem;
  height: 52rem;
  display: flex;
  /* background-image: url(images/kali.png); */
  position: absolute;
  top: 117rem;
}
.navswitch{
  transform: translateY(-7rem);
  transition: all 1s;
}
.top{
  display: flex;
  display: inline-block;
  width: 6rem;
  height: 6rem;
  position: relative;
  top: 40rem;
  left: 45rem;
  z-index: 10;
  background-color: white;
  border-radius: 4rem;
  box-shadow: 0rem 0.9rem 2.2rem 0.2rem gray;
  cursor: pointer;
}
body {

  background: #2a2148
}

.taskbar-container{
  width: 100%;
  height: 2rem;
  display: flex;
  position: relative;
  left: -65rem;
}

.taskimg{
  position: relative;
}
/* .particles-js{
  position: fixed;
} */
.arrow-left{
  position: relative;
  width: 0.35rem;
  height: 2.5rem;
  background-color: black;
  display: block;
  border-radius: 2rem;
  transform: rotate(45deg);
  left: 1.8rem;
  top: 0.8rem;
}
.arrow-right{
  position: relative;
  width: 0.35rem;
  height: 2.5rem;
  background-color: black;
  display: block;
  border-radius: 2rem;
  transform: rotate(131deg);
  left: 3.4rem;
  top: -1.75rem;
}
.arrow-down{
  position: relative;
  width: 0.35rem;
  height: 3rem;
  background-color: black;
  display: block;
  border-radius: 2rem;
  left: 2.6rem;
  top: -3.5rem;
}
.terminla-icon{
  width: 5.4rem;
  height: 3rem;
  position: relative;
  top: 4rem;
left: 6rem;
border-radius: 0.3rem;
transition: all 0.2s;
z-index: 20;
}
.terminal-click{
  background-color: #1c7dec;
  transition: all 0.3s;
}
.terminaldiv::after{
  content: '';


}
/* Terminal classes */
.spanhover{
  height: 12vh;
  width: 12vh;
  display: block;
  z-index: 101;
  background-color: #ffc2d4;
  border-radius: 3vh;
  border: #8650502e solid 0.2vh;
  font: 1.3rem Inconsolata, monospace;
  color: #602437;
  font-weight: bolder;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.terminal-container
{
  display: flex;
  /* transform: translateY(8em); */
  height: 23em;
  width: 35em;
  background-color: #3f3d3d;
  justify-content: center;
  z-index: 30;
  position: absolute;
  border-radius: 0.5rem;
  top: 6rem;
  left: 16rem;
}

.terminal{
  display: flex;
  width: inherit;
  height: inherit;
  justify-content: center;
  flex-wrap: wrap;
}
.task
{   width: 100%;
  height: 8px;
  padding: 0.5em;
  background-color: gray;
  border-radius: 0.5rem 0.5rem 0 0;
}

.taskbtn{
  display: flex;
  height: 17px;
  justify-content: space-between;
  width: 3.5rem;
}

.suspend
{   padding: 1px;
  display: inline-block;
  background-color: #ff3e3e;
  width: 12px;
  height: 12px;
  border-radius: 0.3em;
}
.expand
{
  padding: 1px;
  padding-left: 2px;
  display: inline-block;
  background-color: #fcee2d;
  width: 12px;
  height: 12px;
  border-radius: 0.3em;
}

.min{
  padding: 1px;
  display: inline-block;
  background-color: #9fef00;
  width: 12px;
  height: 12px;
  border-radius: 0.3em;
}
.space 
{
  width: 100%;
  height: inherit;
  font-family: monospace;
  display: flex;
  flex-wrap: wrap;
}
.pointer
{   margin-top: -1.5em;
  margin-left: 0.5em;
  display: inline-block;
  background-color: white;
  width: 0.6em;
  height: 1.2em;
  z-index: 1;
  transform: translateY(0.2em);
}
p
{
  color: white;
  font-weight: 900;
  font-size: 1em;
  height: 1.6em;
}

/* Terminal classes over */
