body
{
    /* margin: 0%; */
    /* padding: 0%; */
    overflow: hidden;
    background: #3a3737;
}

.main {
display:flex;
/* --s: 71px;   */
/* --m: 2px;     */
--f: calc(1.732 * 71px + 4 * 2px  - 1px);
}

.container {
font-size: 0; /*disable white space between inline block element */
transition: all 1s;
}

.container .hexdiv {
width: 71px;
margin: 2px;
height: calc(71px*1.1841); 
display: inline-block;
font-size:initial;
clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
background: #3a3737;
margin-bottom: calc(2px - 71px*0.2885); 
box-shadow: 0 0 10px rgba(0,0,0,0.8); 
transition: all 1s;
}
/* .container :nth-child(odd) {
background:whitesmoke;
} */
.container::before {
content: "";
width: calc(71px/2 + 2px);
float: left;
height: 120%;
shape-outside: repeating-linear-gradient(     
               #0000 0 calc(var(--f) - 3px),      
               #000  0 var(--f));
}
.hexdiv
{
    /* display: flex !important; */
    /* align-items: center; */
    vertical-align: middle;
    background: #3a3737 ;
    transition: all 1s;
}
.insidehex
{
    background: whitesmoke ;
    width: 71px;
margin: 2px;
vertical-align: middle;
height: calc(71px*1.1841); 
font-size:initial;
clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
background: whitesmoke;
margin-bottom: calc(2px - 71px*0.2885); 
box-shadow: 0 0 10px rgba(0,0,0,0.8); 
transition: all 1s;
}

.col1
{
    background-color: #a9e5bb;
}
.col2
{
    background-color: #FCF6B1;
}
.col3
{
    background-color: #F7B32B;
}
.col4
{
    background-color: #FF4365;
}

.p2pgame
{
    /* font-family: 'Press Start 2P', cursive; */
    position: absolute;
    top: 0em;
    font-size: 4vw;
    left: 9em;
    
}
.metal {
    /* ... */ 

    background-clip: text !important;
    -webkit-background-clip: text !important;
    color: transparent;
    -webkit-text-fill-color : transparent;
    -webkit-text-stroke: 2px hsl(200, 65%, 80%);
  }
  .raise {
    filter: drop-shadow(1px 3px 0px hsl(242, 54%, 10%))
      drop-shadow(1px 3px 0px hsl(242, 54%, 15%))
      drop-shadow(1px 3px 0px hsl(242, 54%, 20%))
      drop-shadow(1px 3px 0px hsl(242, 54%, 25%))
      drop-shadow(1px 3px 0px hsl(242, 54%, 30%))
      drop-shadow(0px 0px 10px rgba(16, 16, 16, 0.4));
  }
  .subtitle {
    /* ... */
    transform: rotateZ(-10deg);
    color: hsl(318, 100%, 51%); /* pink */ 
    text-shadow: -2px -3px hsl(53, 100%, 81%) /* yellow */, 5px 5px hsl(240, 90%, 61%); /* blue */
  }
