.Layer_5, .Layer_4, .Layer_3, .Layer_2, .Layer_1{
    width: 100%;

}
svg{
    position: absolute;
    left: -2rem;
    top: 124rem;
    stroke-dasharray: 100;
    stroke-dashoffset: -600;
    // animation: leftside 30s infinite alternate;
}
// @keyframes leftside{
//     from{
//         top: 130rem;
//     }
//     to{
//         top: 120rem;
//     }
// }